.advantages {
  position: relative;
  width: @mobile-width;
  min-height: 745px;
  margin: @centerer-margin;
  padding-top: 86px;
  background: @bg-light-grey url("../img/iphone-screen-mobile@1x.png") no-repeat center bottom;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 320px;
    height: 35px;
    background: url("../img/bg-triangle-white-mobile.svg") no-repeat 0 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 790px;
    width: 320px;
    height: 41px;
    background: @bg-white;
  }
}

.advantages__list {
  .reset-list();
}

.advantages__item {
  padding: 0 30px;
  text-align: center;
}

.advantages__title {
  margin: 0 0 9px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.advantages__description {
  margin: 0 0 34px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}


@media (min-width: @tablet-width) {
  .advantages {
    width: @tablet-width;
    min-height: auto;
    padding: 70px 20px 0;
    background: @bg-light-grey;
    box-sizing: border-box;

    &::before {
      content: "";
      position: absolute;
      top: -1px;
      right: 0;
      width: 660px;
      height: 95px;
      background: url("../img/bg-triangle-white.svg") no-repeat 0 0;
    }

    &::after {
      content: "";
      position: absolute;
      top: 790px;
      width: 320px;
      height: 41px;
      background: @bg-white;
    }
  }

  .advantages__wrapper {
    position: relative;
    background: url("../img/iphone-screen-mobile@1x.png") no-repeat;
    background-size: 270px 480px;
    background-position: 20px 0;
  }

  .advantages__list {
    width: 305px;
    margin-left: 350px;
  }

  .advantages__item {
    text-align: left;
  }
}


@media (min-width: @desktop-width) {
  .advantages {
    width: @desktop-width;
    background-image: none;
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: @centerer-margin;
  }

  .advantages__item {
    min-height: 565px;
    padding-top: 300px;
    text-align: center;
    background: url("../img/iphone-screen-mobile@1x.png") no-repeat center top;
    background-size: 200px 350px;
    box-sizing: border-box;
  }

  .advantages__title {
    padding: 100px 60px 0;
    background-color: @bg-light-grey;
  }

  .advantages__description {
    padding: 0 25px;
  }
}
