.bg-photo {
  width: @mobile-width;
  min-height: 462px;
  margin: @centerer-margin;
  background: url("../../img/bg-back-mobile@1x.jpg") no-repeat center bottom;
}

.bg-photo__wrapper {
  min-width: inherit;
  min-height: inherit;
  background: url("../../img/iphone-hand-mobile@1x.png") no-repeat center bottom;
}


.bg-photo__title {
  padding: 100px 10px 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: @font-color-secondary;
  text-align: center;
}


.bg-photo__slogan {
  display: none;
  margin: 0;
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
  color: @font-color-secondary;
}
