.btn {
  width: 280px;
  height: 63px;
  padding-top: 5px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: @font-color-secondary;
  text-align: center;
  text-transform: uppercase;
  background-color: @bg-btn-color;
  border: none;
  border-radius: 2px;
}

@media (min-width: @tablet-width) {
  .btn {
    width: 300px;
  }
}
