.contacts {
  width: @mobile-width;
  min-height: 565px;
  margin: @centerer-margin 40px;
  text-align: center;
}

.contacts__title {
  margin: 0 0 30px 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.contacts__item {
  margin-bottom: 17px;

  &:nth-child(2) {
    margin-bottom: 21px;
  }
}

.contacts__call {
  margin: 0;
  text-align: center;
  line-height: 30px;
  font-weight: 700;
  color: @font-color-base;
}

.contacts__facts {
  padding: 0 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: @font-color-pink;
}

.contacts__footer {
  position: relative;
  width: @mobile-width;
  min-height: 220px;
  background: url("../img/bg-triangle-white-footer.svg") no-repeat -135px -10px, url("../img/bg-map-mobile@1x.png") no-repeat center bottom;
}

.contacts__marker {
  position: absolute;
  top: 115px;
  left: 143px;
  width: 45px;
  height: 45px;
  background: url("../img/icon-map-marker.svg") no-repeat 0 0;
}


@media (min-width: @tablet-width) {
  .contacts {
    width: @tablet-width;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .contacts__header {
    padding: 8px 125px;
  }

  .contacts__title {
    font-size: 40px;
  }

  .contacts__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 560px;
    margin: @centerer-margin;
  }

  .contacts__item {
    width: 270px;
  }

  .contacts__footer {
    width: @tablet-width;
    min-height: 375px;
    background-size: cover;
  }

  .contacts__marker {
    top: 180px;
    left: 330px;
  }
}


@media (min-width: @desktop-width) {
  .contacts {
    width: @desktop-width;
  }

  .contacts__wrapper {
    width: 940px;
  }

  .contacts__header {
    padding: 20px 245px;
  }

  .contacts__title {
    font-size: 50px;
    line-height: 50px;
  }

  .contacts__item {
    width: 313px;
  }

  .contacts__footer {
    width: @desktop-width;
    min-height: 500px;
  }

  .contacts__marker {
    top: 220px;
    left: 500px;
  }
}
