.copyright {
  display: flex;
  text-align: left;
}

.copyright__text {
  padding-left: 95px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @font-color-base;
}

.copyright__link {
  display: block;
  width: 55px;
  height: 55px;
  color: @font-color-pink;

  &:hover svg,
  &:focus svg {
    color: @darkblue-color;
  }

  &:active svg {
    opacity: 0.3;
  }
}


@media (min-width: @tablet-width) {
  .copyright {
    width: 150px;
    padding: 20px 0 0 5px;
    box-sizing: border-box;
  }

  .copyright__text {
    padding: 0 20px;
  }

  .copyright__link {
    margin: -13px 0 0 -15px;
  }
}
