.copyright {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 130px;
  margin: @centerer-margin;
}

.copyright__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @font-color-base;
}

.copyright__link {
  position: absolute;
  top: -11px;
  left: 89px;
  width: 55px;
  height: 55px;
  color: @font-color-pink;

  &:hover svg,
  &:focus svg {
    color: @darkblue-color;
  }

  &:active svg {
    opacity: 0.3;
  }
}


@media (min-width: @tablet-width) {
  .copyright {
    width: 152px;
    margin: 0;
    box-sizing: border-box;
  }

  .copyright__text {
    padding: 0 20px;
  }

  .copyright__link {
    top: 9px;
    left: 112px;
  }
}

@media (min-width: @desktop-width) {
  .copyright {
    width: 180px;
  }

  .copyright__text {
    font-size: 18px;
    line-height: 18px;
  }

  .copyright__link {
    margin: -10px 0 0 -13px;
  }
}
