.for-tenderer {
  width: @mobile-width;
  margin: -95px auto 55px;
  text-align: center;
}

.for-tenderer__header {
  margin-bottom: 35px;
  padding: 45px 8px 0;
  background-color: @bg-white;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @font-color-base;
}

.for-tenderer__text {
  margin: 0;
  padding: 0 12px;
  font-size: 14px;
  line-height: 30px;
  color: @font-color-base;

  &--uppercase {
    text-transform: uppercase;
  }

  &--visual {
    display: none;
  }
}

.for-tenderer__hidden {
  display: none;
}

.for-tenderer__send-form {
  margin-bottom: 34px;
}

.for-tenderer__asterisk {
  color: @font-color-pink;
}


@media (min-width: @tablet-width) {
  .for-tenderer {
    width: @tablet-width;
    margin-top: -291px;
    margin-bottom: 53px;
    box-sizing: border-box;
    background-color: @bg-white;
  }

  .for-tenderer__header {
    margin: 0;
    margin-bottom: -19px;
    padding: 91px 11px;
  }

  .for-tenderer__text {
    padding: 0 40px;
    font-size: 18px;

    &--uppercase {
      padding: 0;
      padding-top: 18px;
      font-size: 14px;
    }

    &--visual {
      display: inline;
      padding: 0;
    }
  }

  .for-tenderer__footer {
    display: flex;
    justify-content: space-between;
    width: 620px;
    margin: @centerer-margin;
  }
}


@media (min-width: @desktop-width) {
  .for-tenderer {
    position: relative;
    width: 100%;
    margin-top: -243px;
    margin-bottom: 34px;
    padding: 0;
  }

  .for-tenderer__header {
    width: 760px;
    margin: @centerer-margin 83px;
    padding: 93px 0 0 0;
  }

  .for-tenderer__text {
    padding: 0;

    &--visual {
      padding: 0;
    }

    &--uppercase {
      padding: 0;
      padding-top: 18px;
      font-size: 14px;
    }
  }

  .for-tenderer__footer {
    width: 940px;
  }

  .for-tenderer__hidden {
    display: inline;
  }
}
