.logo {
  display: block;
  position: relative;
  z-index: 0;
  width: 77px;
  height: 24px;
  cursor: pointer;
}

.logo__image-tablet {
  display: none;
}


@media (min-width: @tablet-width) {
  .logo {
    width: 183px;
    height: 50px;

    &:hover path,
    &:focus path {
      fill: @pink;
    }

    &:active path {
      fill: @color-link-active;
    }
  }

  .logo__image {
    display: none;
  }

  .logo__image-tablet {
    display: block;
  }
}
