.main-footer {
  margin: @centerer-margin;
  padding: 0;
  text-align: center;

  &--main-sheet {
    display: none;
  }
}

.main-footer__logo {
  margin-bottom: 33px;
}

.main-footer__logo-link {
  color: @font-color-black;

  &:hover svg,
  &:focus svg {
    color: @font-color-pink;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.main-footer__social {
  margin-bottom: 43px;
}

.main-footer__image {
  &--desktop {
    display: none;
  }
}


@media (min-width: @tablet-width) {
  .main-footer {
    box-sizing: border-box;

    &--main-sheet {
      display: block;
    }
  }

  .main-footer--main-sheet .main-footer__wrapper {
    width: 660px;
    margin: @centerer-margin;
    padding: 0 20px;
  }

  .main-footer__wrapper {
    display: flex;
    justify-content: left;
    width: 660px;
    margin: @centerer-margin;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .main-footer__logo {
    margin-right: 70px;
  }

  .main-footer__social {
    margin-right: 68px;
  }

  .main-footer__image {
    &--desktop {
      display: none;
    }
  }

  .main-footer__copyright {
    padding: 20px 0 0 3px;
  }
}


@media (min-width: @desktop-width) {
  .main-footer {
    margin: @centerer-margin;
    padding: 0;
  }

  .main-footer--main-sheet .main-footer__wrapper {
    width: 960px;
    margin: @centerer-margin;
    padding: 0 12px;
  }

  .main-footer__wrapper {
    display: flex;
    justify-content: start;
    width: @desktop-width;
    margin: @centerer-margin;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .main-footer__logo {
    margin-right: 188px;
  }

  .main-footer__social {
    margin-right: 199px;
    padding: 3px 0 0 40px;
  }

  .main-footer__copyright {
    padding-left: 9px;
  }

  .main-footer__image {
    &--desktop {
      display: block;
    }

    &--tablet {
      display: none;
    }
  }

  .main-footer__logo-link {
    color: @darkblue-color;

    &:hover svg,
    &:focus svg {
      color: @font-color-pink;
    }

    &:active svg {
      opacity: 0.3;
    }
  }
}
