.main-header {
  min-width: @mobile-width;
  margin: @centerer-margin;
  text-align: center;
}

.main-header__top {
  width: @mobile-width;
  display: flex;
  margin: @centerer-margin;
  justify-content: space-between;
  padding: 20px 26px;
  background-color: @bg-darkblue;
  box-sizing: border-box;
  border-bottom: 1px solid @border-lighter-color;
}

.main-header__toggle {
  display: none;
}


@media (min-width: @tablet-width) {
  .main-header {
    width: @tablet-width;
    min-height: auto;
    background-size: cover;
  }

  .main-header__top {
    width: @tablet-width;
    padding: 25px 20px 40px;
  }
}


@media (min-width: @desktop-width) {
  .main-header {
    width: @desktop-width;
  }

  .main-header__top {
    width: auto;
    background: none;
    border: none;
  }

  .main-header__wrapper {
    position: relative;
    display: flex;
    width: 1200px;
    min-height: 110px;
    z-index: 3;
  }
}
