.main-header {
  position: relative;
  z-index: 5;
  width: @mobile-width;
  margin: @centerer-margin 4px;
  text-align: center;
  margin-bottom: -71px;
  background-color: rgba(0, 0, 0, 0.3);
}

.main-header__top {
  background-color: @bg-darkblue;
  border-bottom: 1px solid @border-color-black;
}

.main-header__container {
  width: @mobile-width;
  height: 63px;
  display: flex;
  margin: @centerer-margin;
  justify-content: space-between;
  padding: 14px 24px 0 19px;
  box-sizing: border-box;
}

.main-header__toggle {
  display: none;
}


@media (max-width: @not-for-desktop) {
  .main-header__top--closed {
    background-color: transparent;
  }

  .main-header__top--closed .main-header__toggle,
  .main-header__top--opened .main-header__toggle {
    display: block;
    width: 50px;
    height: 24px;
    border: none;
    background-color: transparent;

    &:hover svg,
    &:focus svg {
      fill: @font-color-pink;
    }

    &:active svg {
      opacity: 0.3;
    }
  }

  .main-header__top--opened .main-header__toggle {
    width: 24px;
  }

  .main-header__top--closed .main-header__cross {
    display: none;
  }

  .main-header__top--opened .main-header__cross {
    display: block;
  }

  .main-header__top--opened .main-header__hamburger {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .main-header {
    width: @tablet-width;
    min-height: auto;
    background-size: cover;
  }

  .main-header__container {
    width: @tablet-width;
    height: 110px;
    padding: 25px 20px 40px;
  }

  .main-header__toggle {
    padding: 20px 0;
  }
}


@media (min-width: @desktop-width) {
  .main-header {
    width: 1200px;
    min-height: 110px;
  }

  .main-header__container {
    width: auto;
    padding: 27px 0 0 2px;
    background: none;
  }

  .main-header__top {
    border: none;
    opacity: 1;
    margin-bottom: 0;
    background: none;
  }

  .main-header__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: @desktop-width;
    min-height: 110px;
    margin: @centerer-margin;
    padding: 0 10px;
    z-index: 0;
    box-sizing: border-box;
  }
}
