@bg-offer-color: #1d2631;
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1200px;
@centerer-margin: 0 auto;
@white: #ffffff;

.offer {
  width: @mobile-width;
  min-height: 270px;
  margin: @centerer-margin;
  padding-top: 28px;
  color: @white;
  background-color: @bg-offer-color;

  .offer__header {
    margin: @centerer-margin;
  }

  .offer__download {
    width: 235px;
    padding: 15px;
    text-align: center;
    color: @white;
    border: 3px solid @white;
    border-radius: 25px;
  }
}
