.offer {
  width: @mobile-width;
  min-height: 270px;
  margin: @centerer-margin 55px;
}

.offer__header {
  padding-top: 45px;
  text-align: center;
  color: @font-color-secondary;
  background-color: @bg-offer-color;
}

.offer__download {
  display: inline-block;
  width: 240px;
  margin-bottom: 40px;
  padding: 15px;
  text-align: center;
  line-height: 18px;
  font-weight: 700;
  color: @font-color-secondary;
  border: 3px solid @btn-border-color;
  border-radius: 28px;
}

.offer__list {
  .reset-list();
  display: flex;
  justify-content: center;
}

.offer__item {
  width: 70px;
  height: 60px;
  margin-right: 10px;
  background-color: #616c77;
}

.offer__explanation {
  margin: 0;
  padding: 25px 40px 35px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}

.offer__text {
  margin: 0;
  padding: 40px 55px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: @font-color-base;
  text-align: center;
}


@media (min-width: @tablet-width) {
  .offer {
    position: relative;
    top: -350px;
    left: -150px;
    width: @tablet-width;
  }


  .offer__explanation {
    width: 350px;
    margin-left: 120px;
    padding-left: 30px;
    padding-right: 0;
    font-size: 18px;
  }

  .offer__header {
    background: none;
  }

  .offer__download {
    width: 300px;
  }

  .offer__wrapper {
    width: @desktop-width;
    margin: 140px auto 50px;
  }

  .offer__text {
    padding: 0;
    font-size: 40px;
    line-height: 35px;

    &:nth-child(2) {
      padding: 0 230px;
    }
  }
}
