.panorama {
  width: @mobile-width;
  margin: @centerer-margin 20px;
}

.panorama__post {
  width: 280px;
  margin: @centerer-margin 0;
  padding: 18px 18px 20px;
  font-size: 14px;
  text-align: left;
  background-color: @bg-light-grey;
  box-sizing: border-box;
}

.panorama__author-name {
  font-weight: 700;
}

.panorama__post-time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.panorama__post-text {
  margin: 0 0 9px 0;
}

.panorama__heart {
  position: relative;
  top: 5px;
  width: 16px;
  height: 15px;
  margin-right: 11px;
  border: none;
  background: url("../img/icon-heart.svg") no-repeat 0 0;
}

.panorama__like {
  font-size: 12px;
  color: @font-color-pink;
  text-transform: uppercase;
}


.panorama__link {
  display: block;
  position: relative;
  height: 137px;
}

.panorama__day {
  position: absolute;
  top: 0;
  left: 160px;
  width: 140px;
  height: 32px;
  padding-top: 5px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: @font-color-secondary;
  text-transform: uppercase;
  background-color: @bg-color-pink;
}


@media (min-width: @tablet-width) {
  .panorama {
    width: @tablet-width;
    margin-bottom: 50px;
  }

  .panorama__post {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    padding: 22px 10px 17px 28px;
  }

  .panorama__author-name {
    margin-right: 4px;
  }

  .panorama__likes-quantity {
    display: flex;
    justify-content: space-between;
  }

  .panorama__heart {
    order: 2;
    margin: 0;
  }

  .panorama__like {
    margin-right: 17px;
  }

  .panorama__post-text {
    order: 2;
  }

  .panorama__post-time {
    margin-right: 302px;
  }

  .panorama__link {
    display: block;
    width: @tablet-width;
    height: 510px;
  }

  .panorama__day {
    top: 55px;
    left: unset;
    right: 20px;
  }

  .panorama__image {
    width: 660px;
    height: 509px;
  }
}


@media (min-width: @desktop-width) {
  .panorama {
    width: 1200px;
  }

  .panorama__post {
    width: 940px;
    padding-top: 24px;
    padding-left: 30px;
  }

  .panorama__link {
    width: 1200px;
    height: 506px;
  }

  .panorama__image {
    width: 1200px;
    height: 506px;
  }

  .panorama__day {
    right: 127px;
  }
}
