.photos-story__author-picture {
  display: block;
  width: 280px;
  height: 180px;
  cursor: pointer;
}

.photos-story__post {
  width: 280px;
  margin-bottom: 20px;
  padding: 25px 18px;
  font-size: 14px;
  text-align: left;
  background-color: @bg-light-grey;
  box-sizing: border-box;
}

.photos-story__author-name {
  font-weight: 700;
}

.photos-story__post-time {
  font-size: 12px;
  font-weight: 300;
}

.photos-story__like {
  font-size: 12px;
  color: @font-color-pink;
}


@media (min-width: @tablet-width) {
  .photos-story {
    width: 300px;
  }

  .photos-story__likes-quantity {
    display: flex;
    justify-content: space-between;
  }

  .photos-story__heart {
    order: 2;
  }
}
