.photos {
  width: @mobile-width;
  margin: -90px auto 44px;
  text-align: center;
}

.photos__header {
  margin-bottom: 49px;
  padding: 46px 35px 0;
  background-color: @bg-white;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @font-color-base;
}

.photos__text {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  color: @font-color-base;
}

.photos__wrapper {
  width: @mobile-width;
  margin-bottom: 42px;
  padding: 0 20px;
  box-sizing: border-box;
}


@media (min-width: @tablet-width) {
  .photos {
    width: @tablet-width;
    margin: -325px 0 75px 0;
    background-color: @bg-white;
  }

  .photos__header {
    margin: 0 0 0 76px;
    padding-top: 92px;
  }

  .photos__text {
    padding: 0 50px;
    font-size: 18px;
  }

  .photos__wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: @tablet-width;
    margin: @centerer-margin 50px;
  }
}


@media (min-width: @desktop-width) {
  .photos {
    width: 1200px;
    margin: @centerer-margin 75px;
  }

  .photos__text {
    padding: 0 150px;
  }

  .photos__wrapper {
    width: @desktop-width;
  }
}
