.price-table {
  width: 834px;
  position: relative;
  left: 50%;
  margin: @centerer-margin 40px;
  transform: translateX(-50%);
  border-collapse: collapse;
}

.price-table__cell {
  width: 275px;
  height: 60px;
  padding: 22px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @font-color-base;
  text-transform: uppercase;
  background-color: @bg-white;
  border: 2px solid @table-border-color;

  &--head {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: @font-color-secondary;
    background-color: @font-color-base;
  }
}

.price-table__licence-price {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}


@media (min-width: @tablet-width) {
  .price-table {
    width: 620px;
    margin: 0;
  }

  .price-table__cell {
    width: 150px;
    padding: 22px 11px;
  }

  .price-table__feature {
    display: none;
  }

  .price-table__feature-name {
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
  }
}


@media (min-width: @desktop-width) {
  .price-table {
    width: 940px;
  }

  .price-table__cell {
    width: 235px;
  }
}
