.price-list {
  width: @mobile-width;
  margin: @centerer-margin 48px;
  overflow: hidden;
  padding-top: 75px;
  padding-bottom: 45px;
  background-color: @bg-light-grey;
}

.price-list__toggles {
  margin: 0;
  text-align: center;
}


@media (min-width: @tablet-width) {
  .price-list {
    width: @tablet-width;
    overflow: visible;
    padding: 70px 20px;
    box-sizing: border-box;
  }

  .price-list__toggles {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .price-list {
    width: @desktop-width;
    padding: 100px 30px;
  }
}
