.put-photo {
  width: @mobile-width;
  margin: @centerer-margin;
  padding: 20px 0 41px;
  text-align: center;
  background-color: @bg-light-grey;
}

.put-photo__picture {
  .reset-fieldset();
}

.put-photo__correct {
  .reset-fieldset();
}

.put-photo__effects {
  .reset-list();
  display: flex;
  justify-content: space-between;
  width: 200px;
  min-height: 45px;
  margin: @centerer-margin;
}

.put-photo__tune-up {
  display: none;
}


@media (min-width: @tablet-width) {
  .put-photo {
    width: @tablet-width;
    padding: 57px 20px;
    margin-bottom: 36px;
  }

  .put-photo__form {
    display: flex;
  }

  .regulator {
    display: none;
  }

  .put-photo__picture {
    margin-right: 45px;
  }

  .put-photo__effects {
    display: block;
    margin-bottom: 68px;
  }

  .put-photo__tune-up {
    display: block;
  }

  .put-photo__effect {
    display: flex;
    justify-content: space-between;
    width: 275px;
    height: 71px;
    box-sizing: border-box;
    border-bottom: 1px solid @effect-border-color;
  }
}
