.research {
  display: none;
}


@media (min-width: @tablet-width) {
  .research {
    display: block;
    width: @tablet-width;
    min-width: 345px;
    margin: @centerer-margin 90px;
    box-sizing: border-box;
  }

  .research__wrapper {
    display: flex;
    justify-content: space-between;
    width: @tablet-width;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .research__image {
    margin-right: 72px;
  }

  .research__timer {
    &--desktop {
      display: none;
    }
  }

  .research__title {
    width: 200px;
    margin: 0;
    padding: 34px 0 10px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: @font-color-black;
  }

  .research__text {
    width: 308px;
    margin: 0 0 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: @font-color-base;
  }

  .research__break {
    &--desktop {
      display: none;
    }
  }

  .research__link {
    font-size: 14px;
    line-height: 24px;
    color: @font-color-pink;
    text-decoration: underline;
  }
}


@media (min-width: @desktop-width) {
  .research {
    position: relative;
    width: 100%;
    top: -240px;
    padding: 0 0 68px 0;
    margin-bottom: -58px;
    background-color: @bg-light-grey;
  }

  .research__wrapper {
    width: @desktop-width;
    margin: @centerer-margin;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .research__image {
    width: 300px;
    margin: 0;
  }

  .research__timer {
    &--desktop {
      display: block;
    }

    &--tablet {
      display: none;
    }
  }

  .research__content {
    width: 573px;
    padding-top: 59px;
  }

  .research__title {
    width: 460px;
    padding-bottom: 25px;
    line-height: 30px;
  }

  .research__break {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: inline;
    }
  }

  .research__text {
    width: 530px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
  }

  .research__link {
    font-size: 18px;
    line-height: 30px;
  }
}
