.reviews {
  width: @mobile-width;
  margin: -34px auto 50px;
  text-align: center;
  background-color: @bg-white;
}

.reviews__list {
  margin-bottom: 18px;
}

.reviews__item {
  margin: 0;

  &:nth-child(2),
  &:nth-child(3) {
    display: none;
  }
}

.reviews__author {
  margin: 0 0 13px 0;
  font-size: 19px;
  line-height: 30px;
  font-weight: 700;
  color: @font-color-black;
}

.reviews__personal-data {
  display: none;
}

.reviews__text {
  margin: 0;
  padding: 0 20px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}


@media (min-width: @tablet-width) {
  .reviews {
    width: @tablet-width;
    margin: @centerer-margin 25px;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
  }

  .reviews__author-wrapper {
    order: 2;
  }

  .reviews__personal-data {
    display: block;
    margin: 0;
    font-size: 14px;
    line-height: 30px;
    font-weight: 300;
  }

  .reviews__author {
    margin-bottom: 5px;
    font-size: 20px;
  }

  .reviews__text {
    margin-bottom: 35px;
    font-size: 18px;
  }

  .reviews__list {
    margin-bottom: 16px;
  }
}


@media (min-width: @desktop-width) {
  .reviews {
    position: relative;
    width: @desktop-width;
    margin: -55px auto 40px;
    padding: 0 10px;

    &::before {
      content: "";
      position: absolute;
      top: -110px;
      left: 463px;
      width: 98px;
      height: 80px;
      background: url("../img/icon-quotes.svg") no-repeat 0 0;
    }
  }

  .reviews__text {
    margin-bottom: 32px;
    padding: 0 120px 0 145px;
    line-height: 31px;
  }

  .reviews__author-wrapper {
    padding: 3px 0 0 5px;
  }

  .reviews__author {
    margin-bottom: 3px;
    font-size: 24px;
    line-height: 30px;
  }

  .reviews__personal-data {
    padding-left: 16px;
    font-size: 18px;
    line-height: 30px;
  }

  .reviews__button {
    background: none;
    border: none;
    font-size: 0;
    color: @btn-arrow-color;

    &--left {
      position: absolute;
      top: 28px;
      left: 27px;
    }

    &--right {
      position: absolute;
      top: 28px;
      right: 2px;
    }

    &:hover,
    &:focus {
      color: @point-reviews-hover;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
