.tagline {
  margin: @centerer-margin;
}

.tagline__text {
  margin: 0;
  padding: 40px 55px 28px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: @font-color-base;
  text-align: center;

  &:nth-child(2) {
    padding-top: 0;
  }
}


@media (min-width: @tablet-width) {
  .tagline {
    margin-top: -122px;
    padding: 0 20px 52px;
    box-sizing: border-box;
  }

  .tagline__text {
    padding: 0;
    font-size: 40px;
    line-height: 48px;

    &:nth-child(2) {
      padding: 0 100px;
    }
  }
}


@media (min-width: @desktop-width) {
  .tagline {
    margin-top: 0;
    margin-bottom: 79px;
    padding: 65px 0 0;
    box-sizing: border-box;
  }

  .tagline__text {
    width: 820px;
    margin: @centerer-margin;
    font-size: 50px;
    line-height: 60px;
    box-sizing: border-box;

    &:nth-child(2) {
      padding: 0 150px;
    }
  }
}
