.tenderer-form {
  margin-top: -1px;
}

.tenderer-form__list,
.tenderer-form__register {
  .reset-list();
}

.tenderer-form__name {
  margin-bottom: 28px;
  background-color: @bg-white;
}

.tenderer-form__item {
  padding-left: 20px;
  text-align: left;
}

.tenderer-form__label {
  display: block;
  margin-bottom: 6px;
  padding-top: 1px;
  padding-left: 23px;
  font-size: 13px;
  line-height: 30px;
  color: @font-color-pink;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: -4px;
}

.tenderer-form__input {
  width: 280px;
  height: 63px;
  margin-bottom: 15px;
  padding-top: 3px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 30px;
  color: @font-color-base;
  letter-spacing: 0.5px;
  border: 2px solid @tenderer-input-color;
  box-sizing: border-box;
}

.tenderer-form__achievements {
  margin-bottom: 31px;
  padding: 25px 0 15px;
  background-color: @bg-light-grey;
}

.tenderer-form__title {
  margin-bottom: 28px;
  padding: 0 5px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @font-color-pink;
  text-transform: uppercase;

  &--impress {
    margin-bottom: 20px;
  }

  &--contacts {
    display: none;
  }

  &--app {
    margin-bottom: 23px;
  }
}

.tenderer-form__piece {
  position: relative;
  margin-bottom: 16px;
  padding: 18px 0 18px 90px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: @font-color-base;
  text-align: left;

  &--app {
    margin-bottom: 9px;
  }
}

.tenderer-form__achievement {
  &::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 20px;
    width: 35px;
    height: 35px;
    background-color: @bg-white;
    border: 2px solid @tenderer-input-color;
  }
}

.tenderer-form__input-get:checked + .tenderer-form__achievement::after {
  content: "";
  position: absolute;
  top: 23px;
  left: 28px;
  width: 23px;
  height: 17px;
  background: url("../../img/icon-yes-form.svg") no-repeat 0 0;
}

.tenderer-form__contacts {
  margin-bottom: 25px;
  background-color: @bg-white;
}

.tenderer-form__app-type {
  margin-bottom: 40px;
  padding: 27px 0 50px;
  background-color: @bg-light-grey;
}

.tenderer-form__application {
  &::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 20px;
    width: 35px;
    height: 35px;
    background-color: @bg-white;
    border: 2px solid @tenderer-input-color;
    border-radius: 50%;
  }
}

.tenderer-form__tale {
  width: 280px;
  height: 200px;
  padding: 20px 0 0 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  color: @font-color-base;
  text-align: left;
  border: 2px solid @table-border-color;
  box-sizing: border-box;
}


@media (min-width: @tablet-width) {
  .tenderer-form {
    display: flex;
    flex-direction: column;
  }

  .tenderer-form__title {
    display: block;
    position: relative;
    top: -50px;
    width: 366px;
    margin: @centerer-margin;
    background-color: @bg-white;

    &--impress {
      top: -10px;
      width: 260px;
      margin-bottom: 20px;
    }

    &--contacts {
      top: -10px;
      width: 256px;
      margin-bottom: 40px;
    }

    &--achievements {
      width: 400px;
    }
  }

  .tenderer-form__breack {
    display: none;
  }

  .tenderer-form__app-type {
    order: 1;
    background: none;
    border: 2px solid @table-border-color;
  }

  .tenderer-form__contacts {
    order: 2;
    border: 2px solid @table-border-color;
  }

  .tenderer-form__achievements {
    order: 3;
    background: none;
    border: 2px solid @table-border-color;
  }

  .tenderer-form__share-impress {
    order: 4;
    border: 2px solid @table-border-color;
  }

  .tenderer-form__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;

    &--contacts {
      flex-direction: column;
    }
  }

  .tenderer-form__label {
    &--contacts {
      order: 1;
    }
  }

  .tenderer-form__input {
    width: 525px;

    &--name {
      width: 565px;
    }
  }

  .tenderer-form__tale {
    width: 500px;
  }
}


@media (min-width: @desktop-width) {
  .tenderer-form {
    flex-direction: row;
    flex-wrap: wrap;
    width: @desktop-width;
    padding: 0 10px;
  }

  .tenderer-form__name {
    width: 450px;
    margin-right: 40px;
    border: 2px solid @white;
  }

  .tenderer-form__app-type {
    width: 450px;
  }

  .tenderer-form__contacts {
    width: 940px;
    margin: @centerer-margin 60px;
  }

  .tenderer-form__achievements {
    width: 940px;
    margin: @centerer-margin 60px;
  }

  .tenderer-form__share-impress {
    width: 940px;
    margin: @centerer-margin 66px;
  }

  .tenderer-form__input {
    width: 340px;

    &--name {
      width: 380px;
    }
  }

  .tenderer-form__tale {
    width: 820px;
  }

  .tenderer-form__list {
    &--contacts {
      display: flex;
      justify-content: space-between;
      width: 820px;
      margin: @centerer-margin;
    }
  }

  .tenderer-form__register {
    &--achievements {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  .tenderer-form__piece {
    &--achievements {
      width: 290px;
      box-sizing: border-box;
    }
  }
}
