@centerer-margin: 0 auto;
@darkblue-color: #283645;
@bg-grey-transparent: rgba(178, 178, 178, 0.3);
@bg-darkblue: @darkblue-color;
@white: #ffffff;
@black: #000000;
@bg-white: @white;
@mobile-width: 320px;
@tablet-width: 660px;
@desktop-width: 960px;
@not-for-desktop: 959px;
@border-lighter-color: #485461;
@bg-offer-color: #1d2631;
@font-color-base: @darkblue-color;
@font-color-secondary: @white;
@font-color-black: @black;
@bg-light-grey: #f2f2f2;
@table-border-color: #e5e5e5;
@btn-border-color: @white;
@pink: #d22856;
@social-icon-color: @pink;
@font-color-pink: @pink;
@bg-color-pink: @pink;
@tenderer-input-color: #e5e5e5;
@effect-border-color: #dddfe0;
@border-color-black: @black;
@color-link-active: #6c7681;
@point-reviews-color: #bec2c7;
@point-reviews-hover: #7e868f;
@border-color-social: #e9ebec;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
@btn-arrow-color: #bec2c7;
@instrument-color: #b5b9be;
@putphoto-font-color: #e3e4e4;
@editor-hover-color: #8d949b;
